<div class="row p-0 m-0">
    <div class="col-12 col-sm-8 my-4 my-sm-5 mx-auto p-0">
        <div class="card shadow-lg my-1">
            <div class="card-header">
                <h2 class="text-center text-uppercase my-2">Venta de Pasajes</h2>
            </div>
            <div class="card-body p-4">

            <div class="row">
                <div class="col-sm-6 col-12 mx-auto">
                    <form>
                        <!-- 
                        <div class="row mb-3">
                            <label for="dni" class="col-sm-4 col-12 col-form-label">DNI</label>
                            <div class="col-sm-8 col-12">
                                <input type="number" class="form-control" id="dni" name="dni" [(ngModel)]="pasaje.dniPasajero">
                            </div>
                        </div>
                        -->
                        <div class="row mb-3">
                            <label for="precio" class="col-sm-4 col-12 col-form-label">Precio</label>
                            <div class="col-sm-8 col-12">
                                <input type="number" class="form-control" id="precio" name="precio" [(ngModel)]="precioSinDesc" (ngModelChange)="getDescuento()">
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="categoria" class="col-sm-4 col-12 col-form-label">Categoría</label>
                            <div class="col-sm-8 col-12">
                                <select name="categoria" class="form-select" aria-label="Default select" [(ngModel)]="pasaje.categoriaPasajero" (ngModelChange)="getDescuento()">
                                    <option selected disabled>Eliga una opción</option>
                                    <option value="m">Menor</option>
                                    <option value="a">Adulto</option>
                                    <option value="j">Jubilado</option>
                                </select>
                            </div>
                        </div>
                        <!--
                        <div *ngIf="alertMessage != ''" class="alert alert-danger my-5">
                        <h5 class="text-center m-0 fw-light">{{alertMessage}}</h5>
                        </div>
                        -->

                        <div class="row my-5" *ngIf="precioSinDesc != null && pasaje.categoriaPasajero != null">
                            <label for="precioTotal" class="col-sm-4 col-12 col-form-label">Precio total:</label>
                            <div class="col-sm-8 col-12">
                                <span class="form-control bg-light fw-bold">{{pasaje.precioPasaje | currency}}</span>
                            </div>
                        </div>  

                        <div class="d-grid gap-2 mb-3 mt-5">
                            <button class="btn btn-lg btn-outline-primary text-uppercase" type="button" >Registrar</button>
                        </div>
                    </form>

                    <p>{{pasaje | json}}</p>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
